.app {
    position: static;
    overflow: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;    
}

html {
    scroll-behavior: smooth;
}