.header {
    background-color: #282c34;
    top: 0;
    height: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: white;
    font-family: 'Inria Serif, serif';
}