.navbar {
    width: 100vh;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    font-size: calc(1px + 2vmin);
    font-family: Raleway, sans-serif;
    position: fixed;
    color: white;
    z-index: 1;
    transition: top 0.3s;
    
    &--appbar{
    
    }
}

.navbar_tab {
    color: white;

  &--on {
      color: black;
  }  
}

.navbar_appbar_logo {
    width: 45px;
}

.navbar_appbar_container_logo {
    margin: 4px;
}

